<h1 style="margin-left: .5rem;">Novo Produto</h1>
<div id="new-product-container">
  <form
    id="form-new-product"
    action="/products"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" />
    <label for="description">Descrição:</label>
    <input type="text" id="description" name="description" />
    <label for="price">Preço:</label>
    <input type="text" id="price" name="price" />
    <label for="image">Imagem:</label>
    <input type="file" id="image" name="image" />
    <button type="submit">Criar</button>
  </form>
</div>